:root {
    --primary-color: rgb(165, 42, 42);
    --secondary-color: #fff;
    --primary-text: rgb(66, 66, 66);
    --header-font-family: 'Impact', sans-serif;
    --primary-font-family: 'Trebuchet MS', Calibri, Ubuntu, sans-serif;
}

* {
    font-family: var(--primary-font-family);
}

body {
    padding: 1.5%;
    max-width: 97%;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

header {
    display: block;
    height: 20%;
    margin: auto;
    width: 80%;
    text-align: center;
}

footer {
    display: block;
    clear: both;
    margin: auto;
    position: fixed;
    bottom: 0px;
    width: 90%;
}

h1 {
    font-size: 38px;
    font-weight: 500;
    font-family: var(--header-font-family);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    text-decoration: none;
    line-height: 60px;
    font-size: large;
    display: block;
    margin: 0px auto;
    color: inherit;
}

.main {
    display: block;
    max-width: 80%;
}

.content {
    padding: 2.5%;
    max-width: 70%;
    margin: 2.75% auto;
    color: var(--primary-text);
    font-weight: 600;
    background-color: var(--secondary-color);
}

section {
    padding: 2%;
    width: 70%;
    margin: auto;
}

.homediv {
    display: block;
    height: 50%;
    width: 96%;
    margin: auto;
    text-align: center;
    color: var(--secondary-color);
}

.homediv ul {
    list-style: none;
    padding: 0px;
    margin: auto;
    max-width: 90%;
}

.homediv ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}


.footer01 {
    text-align: center;
}

.copyright {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: monospace;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

footer li {
    display: inline-block;
}