@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

:root {
  --header-font: 'Pathway Gothic One';
  --primary-font: 'Merriweather';
  --seconday-font: 'Open Sans Condensed';
  --primary-color: #980000:
}


body {
  font-family: var(--primary-font, Georgia, 'Times New Roman', Times, serif);
  font-size: large;
}

/* logo/branding */

.brand {
  font-family: var(--header-font, sans-serif);
  color: var(--primary-color);
  text-decoration: none;
  text-transform: none;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.subtitle {
  font-size: 30px;
}

/* menu/navigation */
nav ul {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

nav a {
  font-family: var(--seconday-font, sans-serif);
  text-decoration: none;
  text-transform: none;
  color: var(--primary-color, red);
  margin: auto;
  width: 100%;
  padding: 10px 0px;
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 75%;
    margin: auto;
  }
}