---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.

import Navcard from "../components/navcard.astro";
import Carousel from "../components/carousel.astro";
import Contactme from "../components/contactme.astro";
import Footer from "../components/base/footer.astro";
import Header from "../components/base/header.astro";
const {
  bootstrapcss = "../../node_modules/bootstrap/dist/css/bootstrap.min.css",
  bootstrapjs = "../../node_modules/bootstrap/dist/js/bootstrap.min.js",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kojo Acquah</title>
    <link rel="stylesheet" href={bootstrapcss} />
    <script is:inline src={bootstrapjs}></script>
  </head>
  <body>
    <Header
      ><div class="row vh-100 justify-content-center">
        <div class="col-auto align-content-center">
          <span class="display-5">Hi there, </span>
          <h1 class="display-1">I'm Kojo Acquah</h1>
          <h2 class="display-6">Business IT Consultant & Developer</h2>
        </div>
      </div></Header
    >
    <main class="container-fluid">
      <section class="row text-center">
        <div class="card-group">
          <Navcard name="Resume" href="/resume" />
          <Navcard name="Portfolio" href="/portfolio" />
          <Navcard name="Blog" href="/blog" />
        </div>
      </section>
      <section class="row text-center">
        <h3 class="display-4">Client Feedback</h3>
        <Carousel />
      </section>
      <section class="row">
        <div class="col p-4">
          <Contactme />
        </div>
      </section>
      <Footer />
    </main>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
