---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import Navbar from "../components/navbar.astro";
import Navcard from "../components/navcard.astro";
import Carousel from "../components/carousel.astro";
import Contactme from "../components/contactme.astro";
import Footer from "../components/footer.astro";
const {
  bootstrapcss = "../../node_modules/bootstrap/dist/css/bootstrap.min.css",
  bootstrapjs = "../../node_modules/bootstrap/dist/js/bootstrap.min.js",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kojo Acquah</title>
    <link rel="stylesheet" href={bootstrapcss} />
    <script is:inline src={bootstrapjs}></script>
  </head>
  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="col-sm-12 col-md-4">
          <img class="img img-fluid" src="https://placehold.co/400x500" />
        </div>
        <div class="col">
          <span class="display-5">Hi there, </span>
          <h1 class="display-1">I am Kojo Acquah</h1>
          <h2 class="display-5">Business IT Consultant</h2>
          <p class="display-6">Currently at Content Bloom</p><p>
            where We help digitally maturing global companies tackle the needs
            and complexities of modern digital ecosystems and enterprise content
            lifecycle management. <a href="#">Learn more</a>
          </p>
        </div>
      </header>
      <section class="row text-center">
        <div class="card-group">
          <Navcard name="Resume" href="/resume" />
          <Navcard name="Portfolio" href="/portfolio" />
          <Navcard name="Blog" href="/blog" />
        </div>
      </section>
      <section class="row text-center">
        <h3 class="display-4">Client Feedback</h3>
        <Carousel />
      </section>
      <section class="row">
        <div class="col p-4">
          <Contactme />
        </div>
      </section>
      <Footer />
    </div>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
