---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.

import Navcard from "../components/navcard.astro";
import Section from "../components/section.astro";
import Testimonial from "../components/testimonials.astro";
import ContactForm from "../components/contact_form.astro";
import Head from "../components/base/head.astro";

const { animate_css = "../../node_modules/animate.css/animate.min.css" } =
  Astro.props;
---

<html lang="en">
  <Head title="I am Kojo Acquah" />
  <body>
    <link rel="stylesheet" href={animate_css} />
    <header class="container-fluid bg-light">
      <div class="row vh-100 justify-content-center">
        <div class="col-11 col-md-8 align-content-center">
          <div class="animate__animated animate__fadeInDown">
            <h1 class="display-5">Hi,<br>
            <span class="display-1">I'm Kojo Acquah</span></h1>
            <h5 class="display-5">
              Business IT Consultant,<br /> 
              IT Generalist,<br />
              based in Nova Scotia, Canada
            </h5>
            <p class="fs-3">
              I maximize business and process efficiency through technology
            </p>
          </div>
        </div>
      </div>
    </header>
    <main class="container-sm-fluid container">
      <Section
        title="About me"
        section_id="about_me"
        classes="row justify-content-center gap-2"
      >
        <div class="col-auto">
          <img
            src="https://picsum.photos/300"
            class="img-fluid rounded mx-auto"
          />
        </div>
        <div class="col align-content-center">
          <p class="fs-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel
            tortor lorem. Fusce aliquet tellus nisi, id luctus dolor mattis
            quis. Vivamus porta ut urna vitae ultrices. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Nunc vel tortor lorem. Fusce
            aliquet tellus nisi, id luctus dolor mattis quis. Vivamus porta ut
            urna vitae ultrices.
          </p><p class="fs-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel
            tortor lorem. Fusce aliquet tellus nisi, id luctus dolor mattis
            quis. Vivamus porta ut urna vitae ultrices.
          </p>
        </div>
      </Section>
      <!-- nav thumbnails -->
      <Section
        title="Take a look at my"
        classes="row justify-content-center gap-2"
      >
        <div class="col-5 col-md-3">
          <Navcard
            name="Portfolio"
            href="/portfolio"
            img="https://picsum.photos/300"
          />
        </div>
        <div class="col-5 col-md-3">
          <Navcard
            name="Resume"
            href="/resume"
            img="https://picsum.photos/300"
          />
        </div>
        <!-- <div class="col-5 col-md-3">
          <Navcard name="Blog" href="/blog" img="https://picsum.photos/300" />
        </div> -->
      </Section>
      <!-- testimonials -->
      <Section
        id="testimonials"
        classes="row justify-content-center"
        title="Testimonials"
      >
        <div class="col-auto col-md-10 align-content-center">
          <div style="min-height: 8em;">
            <Testimonial />
          </div>
        </div>
      </Section>
      <!-- contact form -->
      <Section
        id="contact_form"
        classes="row my-3 justify-content-center"
        title="Contact Me"
      >
        <div class="col col-md-8 fs-5">
          <ContactForm />
        </div>
      </Section>
    </main>
  </body>
</html>
<style>
  header {
    background-image: url();
  }

  .fade-in {
    transition-timing-function: linear;
  }
</style>
