---
import FilteredList from "../components/filteredList.astro";
import Section from "../components/section.astro";
import BaseWrapper from "../components/wrappers/baseWrapper.astro";
import { getCollection, getEntry } from "astro:content";
const portfolio = await getCollection("portfolio");
---

<BaseWrapper>
    <main class="container-fluid-sm container">
        <h1 class="display-1 text-center">Portfolio</h1>
        <Section classes="row justify-content-center">
            <div class="col-12">
                <p class="text-center fs-4">
                    This page showcases some of my work over the year going as
                    far back as 2020.
                </p>
            </div>
            <!-- <ul>
                {portfolio.map((item) => <li>{item.data.title}</li>)}
            </ul> -->
            <div class="col">
                <FilteredList />
            </div>
        </Section>
    </main>
</BaseWrapper>
