---

---

<footer class="my-3">
  <div class="row text-center bg-body-light">
    <small
      >Developed by Kojo Acquah, built with <a href="https://astro.build"
        >Astro</a
      ></small
    >
  </div>
</footer>
