<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="/_assets/skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {% include header.html %}
    {{ content }}
</body>

</html>