---

---

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner text-center fs-4">
    <div class="carousel-item active">
      <p>
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
    </div>
    <div class="carousel-item">
      <p>
        Using a combination of grid and utility classes, cards can be made
        horizontal in a mobile-friendly and responsive way. In the example
        below, we remove the grid gutters with
      </p>
    </div>
    <div class="carousel-item">
      <p>
        Use card groups to render cards as a single, attached element with equal
        width and height columns. Card groups start off stacked and use display:
        flex; to become attached with uniform dimensions starting at the sm
        breakpoint.
      </p>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
