---

---

<form>
  <h3 class="text-center display-4">Contact Me</h3>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Subject</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Example textarea</label
    >
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
    ></textarea>
  </div>
  <div class="mb-3 text-center">
    <input class="btn btn-success" type="submit" value="Send" />
  </div>
</form>
