---

---

<footer>
  <div class="row text-center bg-body-secondary">
    <small
      >Designed with love, development by Kojo Acquah, built with <a href="#"
        >Astro</a
      ></small
    >
  </div>
</footer>
