---

---

<footer>
  <div class="row text-center bg-body-secondary">
    <small
      >Designed with love, developed by Kojo Acquah, built with <a href="https://astro.build"
        >Astro</a
      ></small
    >
  </div>
</footer>
