---
interface Props {
  title?: string;
}

const { title = "I am Kojo Acquah" } = Astro.props;
const {
  bootstrapcss = "../../node_modules/bootstrap/dist/css/bootstrap.min.css",
  bootstrapjs = "../../node_modules/bootstrap/dist/js/bootstrap.min.js",
} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="stylesheet" href={bootstrapcss} />
  <script is:inline src={bootstrapjs}></script>
</head>
