---

---

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner text-center fs-4">
    <div class="carousel-item active">
      <figure>
        <blockquote class="blockquote">
          <p>
            One thing I've noticed is you always seem to try to understand the intent behind our needs instead of just taking the requirements at face value.
          </p>
        </blockquote>
       
      </figure>
    </div>
    <div class="carousel-item">
      <figure>
        <blockquote class="blockquote">
          <p>I'm always relived when I hear that Kojo is on our call because I know he'll help [redaceted] will understand what we want.</p>
        </blockquote>
      </figure>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
