<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

	<div class="container">
		{% include header.html %}
		<div class="row">
			<h1 class="col-md-12 text-center">{{ page.title }}</h1>
			<main class="offset-md-2 col-md-8">

				<!-- header image -->
				<img class="img-fluid col-md-12" src="{{ page.img }}" />

				<br />
                {% if page.tags.size > 1 %}
				<p>
					<span class="maroon">Tech Stack:</span>

					{% for tag in page.tags %}
					<!-- <li class="list-inline-item"> -->
					{{ tag }}
					<!-- </li> -->
					{% endfor %}

				</p>
				{% endif %}

				{% if page.industry > 1 %}
				<p>
					<span class="maroon">Industry</span>
					{% for industry in page.industry %}
					<!-- <li class="list-inline-item"> -->
					{{ industry }}
					<!-- </li> -->
					{% endfor %}
				</p>
				{% endif %}

				{{ content }}

			</main>
		</div>
		{% include footer.html %}
	</div>
	{% include scripts.html %}
</body>

</html>