<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

	<div class="container">
		{% include header.html %}
		<div class="row">
			<h1 class="col-md-12 text-center">{{ page.title }}</h1>
			<br />
			<main class="offset-md-2 col-md-8">
				<hr>
				<!-- header image -->
				<img class="img-fluid col-md-12" src="{{ page.img }}" />

				<br />
				<br>

				{% if page.tags.size > 0 %}
				<p>
					<span class="maroon">Technologies: </span>

					{% for tag in page.tags %}
					<!-- <li class="list-inline-item"> -->
					{{ tag }},
					<!-- </li> -->
					{% endfor %}

				</p>
				{% endif %}

				{% if page.industry.size > 0 %}
				<p>
					<span class="maroon">Industry: </span>
					{% for industry in page.industry %}
					<!-- <li class="list-inline-item"> -->
					{{ industry }},
					<!-- </li> -->
					{% endfor %}
				</p>
				{% endif %}

				{{ content }}

			</main>
			
			<!-- Call to action button -->

			<!-- <div class="call-to-action">

			</div> -->
		</div>
		{% include footer.html %}
	</div>
	{% include scripts.html %}
</body>

</html>