---
import Head from "../components/base/head.astro";
import Footer from "../components/base/footer.astro";
import Header from "../components/base/header.astro";
const { title, cover } = Astro.props;
---
<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="container-fluid vh-100">
    <slot />
    <Footer />
  </body>
</html>
